
*.swp
*/__pycache__/*
*.DS_Store
/raw_data/*
!/raw_data/RAW_DATA_GOES_HERE
my_notes.txt
*.pyc
plplpl/backup/*
data/*
!data/FOLDERS_WITH_INDIVIDUAL_MODELS_GO_HERE
Experiment1/rawFiles/*
Experiment1/*
temp.py
tools/*.txt
Experiment3*
Experiment4*
